<div class="container px-0">
   <div class="pt-2 pb-5">
      <h1>Crear Categoría</h1>
   </div>
   <form [formGroup]="categoriaForm" (ngSubmit)="data.id > 0 ? actualizarCategoria() : crearCategoria()">
      <div class="flex flex-col gap-2">
         <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
               matInput
               placeholder="Nombre de la categoría"
               class="text-black"
               formControlName="nombre"
            />
         </mat-form-field>

         <mat-form-field appearance="fill" *ngIf="data.id > 0">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
               <mat-option value="1">Activo</mat-option>
               <mat-option value="0">Inactivo</mat-option>
            </mat-select>
         </mat-form-field>

         <button
            type="submit"
            mat-button
            class="bg-blue-700 text-white"
            [disabled]="!categoriaForm.valid"
         >
            Guardar
         </button>
      </div>
   </form>
</div>
