<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-blue-600">
   <div class="container px-4 mx-auto flex flex-wrap items-center justify-between gap-2">
      <div class="w-full bg-blue-100 rounded-lg relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-starts">
        <img class="w-10" src="assets/img/logo.png" alt="" srcset="">
      </div>
      <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start
                  hover:bg-blue-400 rounded-xl cursor-pointer text-center"
         [routerLink]="['/activeone/categorias']"
         [routerLinkActive]="['bg-blue-400', 'text-white']">
         <a class="text-sm leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap text-white">
            Categorías
         </a>
      </div>
      <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start
                  hover:bg-blue-400 rounded-xl cursor-pointer text-center"
         [routerLink]="['/activeone/posts']"
         [routerLinkActive]="['bg-blue-400', 'text-white']">
         <a class="text-sm leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap text-white">
            Posts
         </a>
      </div>
      <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start
                  hover:bg-blue-400 rounded-xl cursor-pointer text-center"
         [routerLink]="['/activeone/comentarios']"
         [routerLinkActive]="['bg-blue-400', 'text-white']">
         <a class="text-sm leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap text-white">
            Comentarios
         </a>
      </div>

      <!-- FINAL DE NAVBAR -->
      <div class="lg:flex flex-grow items-center">
         <!-- <ul class="flex flex-col lg:flex-row list-none ml-auto">
            <li class="nav-item">
               <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
                  <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
                  <i class="fab fa-twitter text-lg leading-lg text-white opacity-75"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
                  <i class="fab fa-instagram text-lg leading-lg text-white opacity-75"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
                  <i class="fab fa-github text-lg leading-lg text-white opacity-75"></i>
               </a>
            </li>
         </ul> -->
      </div>
   </div>
</nav>
