<div class=" h-full lg:overflow-hidden">
    <app-navbar></app-navbar>
    <main>
        <section class="relative w-full h-full pt-3 min-h-screen">
            <div class="absolute top-0 w-full h-full bgBlue bg-no-repeat bg-full"
                style="background-image: url('assets/img/background.png')"></div>
            <div class="relative flex flex-col min-w-0 break-words bg-transparent mb-6 shadow-lg rounded mx-20 bg-full ">
               <!-- Projects table -->
               <router-outlet></router-outlet>
            </div>
        </section>
    </main>
</div>
