<div class="rounded-t mb-0 px-4 py-3 border-0">
   <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
         <button (click)="openDialog(categoria)"
            class="text-blue-500 bg-transparent
            border border-solid border-blue-500 hover:bg-blue-500 hover:text-white
            active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded outline-none
            focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            <i class="fas fa-plus"></i> Nueva categoria
          </button>
      </div>
   </div>
</div>
<div class="block w-full overflow-x-auto h-80">
   <table class="items-center w-full bg-transparent border-collapse">
      <thead>
         <tr class="border-b-2 border-blue-300">
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"></th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
               ID
            </th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
               Nombre
            </th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
               Estado
            </th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
               Fecha de Creación
            </th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let categoria of categorias | paginate: { itemsPerPage: tamanoTabl, currentPage: page }">
            <td class="align-middle whitespace-nowrap pl-6">
               <button
                  mat-icon-button
                  class="text-blue-600"
                  (click)="openDialog(categoria)">
                  <mat-icon>edit</mat-icon>
               </button>
               <button
                  mat-icon-button
                  class="text-red-600"
                  (click)="eliminarCategoria(categoria.id)">
                  <mat-icon>delete</mat-icon>
               </button>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
               {{ categoria.id }}
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
               {{ categoria.nombre }}
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
               <i class="fas fa-circle text-{{ categoria.estado == 1 ? 'green' : 'red' }}-500 mr-2"></i>
               {{ categoria.estado == 1 ? "Activo" : "Inactivo" }}
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
               {{ categoria.fecha_creacion }}
            </td>
         </tr>
      </tbody>
   </table>
   <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
